{%- comment -%}
  Store Preloader Snippet
  Shows animated logo during page transitions
{%- endcomment -%}

<div id="store-preloader" class="store-preloader">
  <div class="store-preloader__ring"></div>
  <div class="store-preloader__logo">
    {%- if settings.logo != blank -%}
      <img
        src="{{ settings.logo | image_url: width: 200 }}"
        alt="{{ shop.name | escape }}"
        width="100"
        height="100"
      >
    {%- else -%}
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
        <path d="M6 2L3 6v14a2 2 0 002 2h14a2 2 0 002-2V6l-3-4z"></path>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <path d="M16 10a4 4 0 01-8 0"></path>
      </svg>
    {%- endif -%}
  </div>
  <span class="store-preloader__text">Loading</span>
  <div class="store-preloader__progress">
    <div class="store-preloader__progress-bar"></div>
  </div>
</div>
